

.error-msg
{
    font-size: 0.600rem;
    color: indianred !important;
}

#qrcode
{
    width: 50%;
    height: auto;
}

#authenticatorModal p {
    font-size: small;
    color: black !important;
}
