.container {
  text-align: center;
}

.shadow {
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.65);
  font-size: 2rem;
}

.green-filter {
  filter: grayscale(100%) sepia(100%) hue-rotate(100deg);
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #111;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 20px;
}

.custom-hover:hover {
  background-color: #444;
  transition: all 0.5s ease-in-out;
}

.open {
  height: calc(100vh - 2px);
  width: calc(100vw - 2px);
  z-index: 20;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.close {
  height: calc(50vh - 2px);
  width: calc(50vw - 2px);
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.md-close {
  height: calc(50% - 1px);
  width: calc(100% - 1px);
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.circular-text {
  width: 270px;
  height: 270px;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  opacity: 0.8;
  pointer-events: none;
}

.noise:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  animation: noise 1s infinite alternate;
}

.lines {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.6;
  animation: opacity 3s linear infinite;
}

.lines:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.5) 51%
  );
  background-size: 100% 4px;
  animation: scanlines 0.2s linear infinite;
}

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes scanlines {
  from {
    background: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(0, 0, 0, 0.5) 51%
    );
    background-size: 100% 4px;
  }
  to {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 50%,
      transparent 51%
    );
    background-size: 100% 4px;
  }
}
