h1, h2, h3, h4, h5, h6, span, p {
  color: #f8f9fa  !important;
}

.modal-title
{
  color: black !important
}

.card-profile {
  width: 100%;
  max-width: 400px;
}

.logout-icon {
  border: none !important;
}

/* Custom size for game button icon */
.game-button i {
  font-size: 1.5rem;  /* Set your desired icon size */
}

/* Custom size for logout button icon */
.logout-icon i {
  font-size: 1.5rem;  /* Set your desired icon size */
}

/* Optionally, you can also adjust the button size if needed */
.game-button, .logout-icon {
  padding: 5px;  /* Optional: you can reduce button padding if you want smaller buttons */
}

.no-border {
    border: none;
}

.card-profile {
  border-radius: 15px;
}

.card-body {
  padding: 20px;
  background-color: #03213d;
  border: 1px solid white;
}

.card-profile img {
  width: 80px;
  border-radius: 50%;
}

.card-profile h5 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.card-profile p {
  font-size: 1rem;
}

.card.mt-4 {
  margin-top: 20px;
}

.card-body table th, 
.card-body table td {
  font-size: 0.9rem;
}

.card-body table td {
  font-size: 0.8rem;
}

.modal-header {
  padding-left: 2rem  !important;
}

.modal-content {
  border-radius: 10px;
}

.modal-body form input {
  border-radius: 10px;
}

.btn-outline-primary {
  border-radius: 50%;
  padding: 5px;
}

.modal-error-msg small{
  color: #176bb5 !important;
}

.no-border {
  border: none;
}

.custom-edit-profile-icon-size {
  font-size: 0.7rem;
}

#editProfileErrorMsg {
  font-size: 0.8rem !important;
  color: #176bb5 !important
}

#logoutErrorMsg
{
  font-size: 0.7rem !important;
  color: #176bb5 !important
}

#gameHistoryModal .modal-body {
  max-height: 50vh;
  overflow-y: auto;
}


#gameHistoryModal table {
  width: 100%;
}

#gameHistoryModal th, #gameHistoryModal td {
  width: auto;
  white-space: nowrap;
}

#friendsListModal .modal-body {
  max-height: 50vh;
  overflow-y: auto;
}

#friendsListModal table {
  width: 100%;
  table-layout: fixed;
}

#friendsListModal th, #friendsListModal td {
  width: auto;
  white-space: nowrap;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


#logoutErrorMsg {
  display: none;
  animation: bounce 0.5s ease-in-out;
}


#logoutErrorMsg {
  color: #176bb5;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.custom-button {
    background-color: #2290f0;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 4px;
}

.custom-button:hover {
  background-color: #176bb5;
}

.edit-profile-custom {
  --bs-btn-color: #2290f0 !important;
  --bs-btn-border-color: #2290f0 !important;
  --bs-btn-hover-color: #ffffff !important;
  --bs-btn-hover-bg: #176bb5 !important;
  --bs-btn-font-size: 0.75rem !important
}