h1, h2, h3, h4, h5, h6, span, p {
  color: #f8f9fa  !important;
}

.modal-title
{
  color: black !important
}

.card-profile {
	width: 30rem;
}

.logout-icon {
  border: none !important;
}

.custom-edit-profile-icon-size {
    font-size: 0.9rem;
}

.no-border {
    border: none;
}

.card-profile {
  border-radius: 15px;
}

.card-body {
  padding: 20px;
  background-color: #03213d;
  border: 1px solid white;
}

.card-profile img {
  width: 80px;
  border-radius: 50%;
}

.card-profile h5 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.card-profile p {
  font-size: 0.8rem;
}

.card.mt-4 {
  margin-top: 20px;
}

.card-body table th, 
.card-body table td {
  font-size: 0.9rem;
}

.card-body table td {
  font-size: 0.8rem;
}

.modal-header {
  padding-left: 2rem  !important;
}

/* Modal styling */
.modal-content {
  border-radius: 10px;
}

.modal-body form input {
  border-radius: 10px;
}

.btn-outline-primary {
  border-radius: 50%;
  padding: 5px;
  /* background-color: #fff; */
}

.modal-error-msg small{
  color: indianred !important;
}

.no-border {
  border: none;
}

.custom-edit-profile-icon-size {
  font-size: 0.8rem;
}

#editProfileErrorMsg {
  font-size: 0.8rem !important;
  color: indianred !important
}

#logoutErrorMsg
{
  font-size: 0.7rem !important;
  color: indianred !important
}
/* Make the modal content scrollable */
#gameHistoryModal .modal-body {
  max-height: 50vh;
  overflow-y: auto;  /* Adds vertical scrollbar when content overflows */
}


#gameHistoryModal table {
  width: 100%;
}

#gameHistoryModal th, #gameHistoryModal td {
  width: auto;
  white-space: nowrap;
}

/* Make the modal body scrollable */
#friendsListModal .modal-body {
  max-height: 50vh;  /* 50% of the viewport height, adjust as needed */
  overflow-y: auto;  /* Adds a vertical scrollbar when content overflows */
}

/* Ensure the table is full width */
#friendsListModal table {
  width: 100%;
  table-layout: fixed; /* Distributes the width of the table evenly */
}

/* Optional: Adjust column and row styles for the table */
#friendsListModal th, #friendsListModal td {
  width: auto;  /* Adjust width of columns dynamically */
  white-space: nowrap;  /* Prevent wrapping of table content */
}

/* Add the bounce effect to the error message */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Apply the bounce effect */
#logoutErrorMsg {
  display: none; /* Initially hidden */
  animation: bounce 0.5s ease-in-out;
}

/* Optional: style the error message */
#logoutErrorMsg {
  color: red;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.custom-button {
    background-color: #2290f0;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 4px;
}

.custom-button:hover {
  background-color: #176bb5;
}
