body
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.image {
	width: 100vw;
	height: 100vh;
	background: url('../media/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;      /* Centraliza verticalmente */
	justify-content: center; 
}

#app {
    width: 80vw;  /* 80% da largura da tela */
    height: 60vh; /* 60% da altura da tela */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Ajuste a sombra */
    display: flex;
    align-items: center;  /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    text-align: center;
    margin: 0 auto;  /* Centraliza horizontalmente */
    border-radius: 2%;
}

